<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="http://phonegap.com/ns/1.0" 
        id="com.pexeso.soc"
        versionCode = "7"
        version="8.5.1" >
    <name>Pexeso Memory Game</name>
    <description>
        Jednoduchá ukážka hry pexeso.
    </description>
    <author email="kamil.kafunek@yahoo.com" href="http://phonegap.com">
        Kamil Kafúnek
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="android-maxSdkVersion" value="27" />
    <preference name="android-targetSdkVersion" value="21" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="KeepRunning" value="false"/>
    
    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />  
    <preference name="AutoHideSplashScreen" value="true" />
    
    
    
    <platform name="android">
        <icon src="icon.png" />
        <icon density="ldpi" src="res/icon/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="res/icon/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="res/icon/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
        
        
        <splash density="port-mdpi" src="res/screen/android/splash screen320x480.png" />
        <splash density="port-hdpi" src="res/screen/android/splash screen480x800.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash screen720x1280.png" />
        <splash density="port-xxhdpi" src="res/screen/android/splashScreen960x1600.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/splashScreen1280x1920.png" />
        <splash src="splash.png" />
    </platform>
    
    
    
   

    
    
   
</widget>
